/* VISUAL */
.banner {
  background-color: #ffc200;
  height: 650px;
}
/* .banner .inner {
  
} */
.banner .titlepage {
  position: absolute;
  top: 250px;
  left: 10%;
  z-index: 1;
}
.banner .titlepage .brand{
  font-family: Dongle;
  font-size: 50px;
  color: #3a2828;
}
.banner .inner .image {
  position: absolute;
  height: 650px;
  right: 0;
}

.slider {
  position: relative;
  height: 620px;
  overflow: hidden;
}
.slider .swiper {
  right: 0;
  left: 0;
  margin: auto;
  position: absolute;
  width: calc(520px * 4 + 30px);
  height: 550px;
  top: 40px;
  left: 50%;
  margin-left: calc((520px * 4 + 30px)/-2);
  text-align: center;
  font-size: 20px;
}

.feature .inner {
  width: 1500px;
  left: 0;
  right: 0;
  margin: 50px auto;
  padding: 20px 0;
  display: flex;
  flex-direction: row;
}
.feature .inner .item {
  width: 200px;
  height: 200px;
  margin: 0 50px;
}
.feature .inner .item:first-child {
  width: 600px;
}
.feature .inner .item > img {
  width: 200px;
  border-radius: 200px;
}
.feature .inner .item > p:not() {
  width: 200px;
  border-radius: 200px;
  text-align: center;
}


.gallery {
  background-color: #f6f5f0;
  padding: 5px 0;
}
.gallery .inner {
  width: calc(300px * 3 + 40px);
  right: 0;
  left: 0;
  margin: 50px auto;
}
.gallery .images {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.gallery .images > img {
  width: 300px;
}
