.part {
  margin: auto;
  text-align: center;
}
.part .item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.part .item .detail {
  margin-bottom: 20px;
}
.part .item img {
  width: 500px;
}
.part .item p {
  margin-top: 5px;
}
.part .item a {
  font-weight: 600;
  color: #3a2828;
}
.part .item a:hover {
  color: #ffc200;
}
.part .btn {
  margin: 50px auto;
}